body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header {
  text-align: center;
  background-color: #c0cbb7;
  color: white;
  padding: 2rem 0;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.header h1 {
  font-size: 2.5rem;
}

.header p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.breeds {
  margin-bottom: 2rem;
}

.breed-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  justify-content: center;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card h3 {
  color: #000000;
  margin-top: 1rem;
}

.card p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.card .button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  background-color: #c8cdbf;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.card .button:hover {
  background-color: #9bc1b1;
  transform: scale(1.05);
}


.resources .button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #b3b58b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.resources .button:hover {
  background-color: #00b348;
}


.footer {
  text-align: center;
  padding: 1rem;
  background-color: #c8c79f;
  color: white;
  margin-top: 1.5rem;
}